<h1> Oma login </h1>
<% if current_user %>
<p>Logged in as <%= current_user.name %>. Want to login as a different user?</p>
<%= link_to "Log in as a different user", '/signout', id: "sign_out" %>
<% else %>
<%= link_to "Login for application", '/signout', id: "sign_out" %>
<% end %>

Forgot to add a grandkid?
<%= link_to "Back", "step2", id: "sign_out" %>

<% if current_user %>
or, GO TO THE PROJECTION
<%= link_to "Projection", "/friends/index" %>
<% end %>
